# ***Add your Credentials here **
#file_api stores the 'from' and 'to' language in the ISO 2-letter language code.

binaryPath=path-to-the-firefox-binary
url=https://www.bing.com/translator
browser=firefox
clientId=client_ID
client_secretID=secret_id
file_api=your_file_name_api.csv
file_gui=your_file_name_gui.csv
